#dates {
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: Gilroy;
    font-style: normal;
    
    & .row {
        flex-direction: row;
    }
    
    & .gr {
        font-family: Gilroy-Regular;
    }
    
    & h2 {
        font-weight: bold;
        font-size: 54px;
        line-height: 67px;
        text-shadow: none;
        text-transform: none;
        color: #000000;
    }
    
    & select {
        margin-top: 12px;
        border-radius: 6px;
        text-align-last: center;
        width: 147px;
        height: 43px;
        border: 3px solid black;
        box-shadow: 0 4px 4px rgba(0,0,0,.57);
        font-weight: 900;
        
        & option {
            text-align: center;
        }
    }
    
    & .dates {
        margin-top: 150px;
    }

    & p.number {
        text-align: center;
        font-size: 64px;
        line-height: 79px;
        margin-bottom: 0;
    }

    & p.month {
        text-align: center;
        font-size: 36px;
        line-height: 43px;
        padding-left: 1.5rem;
    } 
    
    & .prog-bar {
        margin-top: 100px;
        padding-left: 43px;
        margin-bottom: 100px;
    }
    
    & img {
        width: 97.5%;
    }
    
    & .date {
        margin-left: 50px;
        
        &:last-child {
            margin-right: -40px;
        }
    }
    
    & .ws-no {
        white-space: nowrap;
    }
    
    & .date-heading {
        font-weight: 900;
        font-size: 38px;
        line-height: 46px;
    }
    
    & .date-desc {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
    }
}

@media (max-width: 1200px) {
    #dates {
        & h2 {
            line-height: 65px;
        }
        
        & select {
            width: 105px;
            height: 31.43px;
        }
        
        & p.number {
            font-size: 35px;
            line-height: 43px;
        }
        
        & p.month {
            font-size: 20px;
            line-height: 24px;
        }
        
        & p.date-heading {
            font-size: 20px;
            line-height: 24px;
        }
        
        & p.date-desc {
            font-size: 15px;
            line-height: 18px;
        }
        
        & .prog-bar {
            margin-bottom: 20px;
            margin-top: 20px;
            padding-left: 33px;
        }
        
        & img {
            width: 100%;
        }
        
        & .date {
            margin-left: 40px;

            &:last-child {
                margin-right: -30px;
            }
        }
    }
}

