@font-face {
  font-family: 'Gilroy-Regular';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Gilroylight.ttf"), url("../fonts/Gilroylight.woff"), url("../fonts/Gilroylight.woff2");
}


@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Gilroyextrabold.ttf"), url("../fonts/Gilroyextrabold.woff"),url("../fonts/Gilroyextrabold.woff2");
}