#wave-is { //test
    margin-top: 100px;
    color: white;
    height: 100vh;
    //transform: skewY(4deg);
    background:rgba(0,0,0,1.0) url(../img/right.svg);
    //height: 100%; /* You must set a specified height */
    background-position: right; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 20%;
}

.gradient-text {
    background: linear-gradient(106.81deg, #D629FF 0%, #5EA1FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #D629FF;
    font-family: Gilroy;
    //display: table;
    //margin: 20px auto;
}

.pink{
    font-family: Gilroy;
    color: $mypink;
}

.blue{
    font-family: Gilroy;
    color: $myblue;
}

h5{
    font-size: 34px;
    line-height: 42px;
}

.row-wave{
    background-color: white;
    height: 150px;
    border-radius: 0px 30px 30px 0px;
    width: 50%;
}
.row-left{
    background:rgba(0,0,0,1.0) url(../img/left_desktop_wave.jpg);
    //height: 100%; /* You must set a specified height */
    background-position: right; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 30%;
    height: 150px;
    position:relative;
    right: 40%;

}

.row-wave.right{
    margin-left: auto;
    background-color: white;
    height: 150px;
    border-radius: 30px 0px 0px 30px;
    width: 50%;
}


@media (max-width:$breakpoint-tablet-small){
    #wave-is{
        margin-top: 135px;
    }
}

@media (max-width: $breakpoint-mobile){
    #wave-is{
        margin-top: 50px;
    }
}