<section id="subscribe">
    <div id="skew"></div>
    <div class="content">
       <div class="container">
           <div class="row">
            <div class="col col-12">
                <h2 class="ws-no">Подписывайся<br>на наш Телеграм-канал</h2>
            </div>
            </div>
            <div class="row">
                <div class="col col-12 col-lg-5 left">
                    <button class="btn btn-base">Подписаться</button>
                    <p class="text gr ws-no">WAVE — борьба за победу.<br>Чемпионская гонка в трансляциях<br>и статистике — будь в курсе всех<br>событий!</p>
                    <div class="icons-wrap">
                        <a href="https://www.instagram.com/koval.2001/?hl=ru" class="icon-link"><img src="../img/tg.svg" alt="telegram"></a>
                        <a href="https://www.instagram.com/koval.2001/?hl=ru" class="icon-link"><img src="../img/insta.svg" alt="instagram"></a>
                        <a href="https://www.instagram.com/koval.2001/?hl=ru" class="icon-link"><img src="../img/discord.svg" alt="discord"></a>
                        <a href="https://www.instagram.com/koval.2001/?hl=ru" class="icon-link"><img src="../img/twitch.svg" alt="twitch"></a>
                    </div>
                </div>
                <div class="col col-12 col-lg-7 right">
                    <img src="../img/ogre-magi.png" alt="ogre magi">
                </div>
            </div>
        </div>
    </div>
</section>